<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
     <key>Extension Updates</key>
     <array>
       <dict>
         <key>CFBundleIdentifier</key>
         <string>com.yourcompany.safari</string>
         <key>Developer Identifier</key>
         <string>8M4MPYTVKH</string>
         <key>CFBundleVersion</key>
         <string>?</string>
         <key>CFBundleShortVersionString</key>
         <string>1.0.1</string>
         <key>URL</key>
         <string>http://katalyst.github.io/trello-card-numbers/trello-card-numbers-1.0.1.safariextz</string>
       </dict>
     </array>
  </dict>
</plist>
